body {
  font-family: 'Josefin Sans', sans-serif;
  font-family: 'Noto Sans JP', sans-serif;
  margin: 0;
}

/* ナビゲーションのリンク */
nav > #menu > a:link {
  color: #080808;
}
nav > #menu > a:visited {
  color: #080808;
}
nav > #menu > a:hover {
  color: #080808;
  text-decoration: underline;
}
nav > #menu > a:active {
  color: #080808;
}

/* メインビジュアル */
#main-visual > img {
  width: 100%;
  height: auto;
}

/* ===============PC用=============== */
@media screen and (min-width: 768px) {

  /* ナビゲーション */
  nav {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin:10px auto;
  }

  #myprofile {
    margin: 20px 40px 20px 40px;
    padding: 10px 20px 10px 20px;
    border: 1px solid #080808;
    text-align: center;
  }

  h1 {
    font-weight: bold;
    font-size: 34px; 
    margin: 0;
  }

  nav > #menu {
    padding: 20px;
    margin: auto 0 auto 0;
    text-align: center;
  }

  nav > #menu > a {
    font-weight: bold;
    font-size: 34px;
    text-decoration: none;
    padding: 20px;
  }

  /* 見出し */
  h2 {
    text-align: center;
    font-size: 34px;
    font-weight: bold;
    margin-top: -10px;
    margin-bottom: 50px;
  }

  /* About */
  #about-content {
    display: flex;
    justify-content: center;
    margin-bottom: 120px;
  }

  #about-content > img {
    width: 300px;
    height: 300px;
    margin: 0 50px 0 0;
  }

  #about-text {
    width: 300px;
    margin: 0 0 0 50px;
  }

  #about-text > h3 {
    font-size: 24px;
    font-weight: bold;
  }

  #about-text > ul > li {
    font-size: 18px;
  }

  /* Works */
  #works-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 50px 0 120px 0;
  }

  .works-case {
    width: 25%;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    margin: 0 5% 0 5%;
  }

  .case-img {
    width: 100%;
    margin: 0;
  }

  .case-text {
    margin: 20px;
  }

  .case-text > p {
    font-size: 18px;
    margin: 10px 0 10px 0;
  }

  footer {
    text-align: center;
    font-size: 18px;
  }
}

/* ============== スマホ用 ===============*/
@media screen and (max-width: 767px) {

  /* ナビゲーション */
  nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin:10px auto 10px auto;
  }

  #myprofile {
    margin: auto 0 auto 5px;
    padding: 10px;
    border: 1px solid #080808;
    text-align: center;
  }

  h1 {
    font-weight: bold;
    font-size: 18px; 
    margin: 0;
  }

  nav > #menu {
    padding: 5px;
    margin: auto 0 auto 0;
    text-align: center;
  }

  nav > #menu > a {
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
    padding: 5px;
  }

  /* 見出し */
  h2 {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  /* About */
  #about-content {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }

  #about-content > img {
    width: 100px;
    height: 100px;
    margin: 0 15px 0 40px;
  }

  #about-text {
    width: 150px;
    padding: 5px;
  }

  #about-text > h3 {
    font-size: 12px;
    font-weight: bold;
    margin: 10px;
  }

  #about-text > ul {
    margin: 0 5px 0 20px;
    padding: 5px;
  }    
  
  #about-text > ul > li {
    font-size: 9px;
  }

  /* Works */
  #works-content {
    display: block;
    text-align: center;
    list-style: none;
    margin-bottom: 120px;
    padding: 0;
  }

  .works-case {
    width: 70%;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    margin: 0 15% 5% 15%;
    padding-bottom: 10px;
  }

  .case-img {
    width: 100%;
    margin: 0;
  }

  .case-text {
    margin: 20px;
  }

  .case-text > p {
    font-size: 9px;
    text-align: left;
    margin: 10px 0 10px 0;
  }

  footer {
    text-align: center;
    font-size: 9px;
  }

}